<a href="https://colab.research.google.com/github/SRINIVASDEVARAJULA/MP/blob/main/My_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler

In [3]:
import tensorflow as tf
from tensorflow import keras

In [4]:
print(tf.__version__)

2.8.0

In [5]:
np.random.seed(19)

In [7]:
df=pd.read_csv("combinedSample_GoldDs.csv")

In [9]:
df.head()

,Local time,Open_Bid,High_Bid,Low_Bid,Close_Bid,Volume_Bid,Open_Ask,High_Ask,Low_Ask,Close_Ask,Volume_Ask
0,14.03.2021 22:00:00.000 GMT-0000,1727.188,1729.078,1727.068,1728.258,64608.9986,1727.662,1730.222,1727.646,1729.522,61275.0016
1,14.03.2021 22:01:00.000 GMT-0000,1728.425,1729.821,1728.415,1729.424,71534.9987,1729.522,1730.421,1729.442,1730.405,80849.9977
2,14.03.2021 22:02:00.000 GMT-0000,1729.468,1730.298,1729.404,1730.118,38320.0012,1730.405,1730.611,1730.275,1730.545,59829.9988
3,14.03.2021 22:03:00.000 GMT-0000,1730.118,1730.304,1728.971,1729.141,26130.0001,1730.535,1730.625,1729.425,1729.765,36355.0000
4,14.03.2021 22:04:00.000 GMT-0000,1729.141,1729.431,1728.318,1728.708,30500.0003,1729.676,1729.862,1728.835,1729.219,49090.0017

In [10]:
df["Open"]=(df["Open_Bid"]+df["Open_Ask"])/2
df["High"]=(df["High_Bid"]+df["High_Ask"])/2
df["Low"]=(df["Low_Bid"]+df["Low_Ask"])/2
df["Close"]=(df["Close_Bid"]+df["Close_Ask"])/2

In [12]:
df.head()

,Local time,Open_Bid,High_Bid,Low_Bid,Close_Bid,Volume_Bid,Open_Ask,High_Ask,Low_Ask,Close_Ask,Volume_Ask,Open,High,Low,Close
0,14.03.2021 22:00:00.000 GMT-0000,1727.188,1729.078,1727.068,1728.258,64608.9986,1727.662,1730.222,1727.646,1729.522,61275.0016,1727.4250,1729.6500,1727.3570,1728.8900
1,14.03.2021 22:01:00.000 GMT-0000,1728.425,1729.821,1728.415,1729.424,71534.9987,1729.522,1730.421,1729.442,1730.405,80849.9977,1728.9735,1730.1210,1728.9285,1729.9145
2,14.03.2021 22:02:00.000 GMT-0000,1729.468,1730.298,1729.404,1730.118,38320.0012,1730.405,1730.611,1730.275,1730.545,59829.9988,1729.9365,1730.4545,1729.8395,1730.3315
3,14.03.2021 22:03:00.000 GMT-0000,1730.118,1730.304,1728.971,1729.141,26130.0001,1730.535,1730.625,1729.425,1729.765,36355.0000,1730.3265,1730.4645,1729.1980,1729.4530
4,14.03.2021 22:04:00.000 GMT-0000,1729.141,1729.431,1728.318,1728.708,30500.0003,1729.676,1729.862,1728.835,1729.219,49090.0017,1729.4085,1729.6465,1728.5765,1728.9635

In [20]:
data=df.drop(['Local time','Open_Bid','High_Bid','Low_Bid','Close_Bid','Open_Ask','High_Ask','Low_Ask','Close_Ask'],axis=1)

In [21]:
data.head()

   Volume_Bid  Volume_Ask       Open       High        Low      Close
0  64608.9986  61275.0016  1727.4250  1729.6500  1727.3570  1728.8900
1  71534.9987  80849.9977  1728.9735  1730.1210  1728.9285  1729.9145
2  38320.0012  59829.9988  1729.9365  1730.4545  1729.8395  1730.3315
3  26130.0001  36355.0000  1730.3265  1730.4645  1729.1980  1729.4530
4  30500.0003  49090.0017  1729.4085  1729.6465  1728.5765  1728.9635

In [23]:
data=(data-data.min())/(data.max()-data.min())

In [24]:
data.head()

   Volume_Bid  Volume_Ask      Open      High       Low     Close
0    0.021363    0.038988  0.125967  0.130772  0.137818  0.140713
1    0.023653    0.051443  0.129923  0.131973  0.141810  0.143297
2    0.012671    0.038068  0.132383  0.132824  0.144124  0.144349
3    0.008640    0.023132  0.133379  0.132849  0.142495  0.142133
4    0.010085    0.031235  0.131034  0.130764  0.140916  0.140899